body {
background: #fff;
font: 13px/19px verdana;
text-align: left;
margin: 0;
padding:0;
color: #555;
}


a { text-decoration: none; color: #1f6397; }
a:hover { text-decoration: underline; }

b { color: #000; }

h2 {
font: 28px/36px times new roman; 
color: #881a3c;
}


.wrapper {
margin: 0 auto;
padding: 0;
width: 500px;
}


#menu {background: #CDE3F2; }

#menu ul {
list-style: none;
margin: 0 auto;
padding: 0;
width: 500px;
height: 35px;
clear: both;
}

#menu ul li {
float: left;
height: 35px;
}


#menu ul li a{
padding: 5px 10px;
margin: 0 10px;
line-height: 35px;
-moz-border-radius: 4px;
border: 1px solid #CDE3F2;
}

#menu ul li.selected a,
#menu ul li a:hover {
background: #fff;
text-decoration: none;
border: 1px solid #AECCE1;
}


#main{ padding: 20px 0;border-top: 1px solid #AECCE1;}


.tweet {
margin: 0;
padding: 2em;
border-top: 1px solid #ddd;
}


#footer { 
border-top: 1px solid #eee; 
margin: 20px 0 0 0;
padding: 0;
font-size: 11px;
}
