body {color: #333;}

/* Fix the small-ish headers */
h1 {font-size:2.8em;}
h2 {font-size:2.2em;}
h3 {font-size:1.6em;}
h1,h2,h3 { text-transform:uppercase; font-weight: normal;}

#top { border-bottom: 1px solid #ddd; line-height: 90px; margin-bottom: 2em; }

#top h1 {
font-weight: normal;
font-size: 50px;
color: #ddd;
margin: 0;
padding: 0;
}


a {text-decoration: none; 
color: #4B6E89;
font-weight: bold;}

a:hover {color: #000; }

ul#sub_nav, ul#sub_nav li {
list-style: none;
margin: 0;
padding: 0;
display: inline;
} 

ul#sub_nav li a {
float: right;
margin: 0 2em 0 0;
padding: 0;
}

#sidebar h3 { margin-bottom: 5px; }

#sidebar ul li{
list-style: none;
margin: 0;
padding: 0;
border-bottom: 1px solid #eee;
line-height: 2em;
}


#bottom { 
border-top: 1px solid #ddd; 
margin: 3em 0;
padding: 1em 0;
color: #999;
font-size: 11px;
}

#bottom p {text-align: right;}



