
form.formstyle { margin: 0 auto 20px auto; }


/**********************************
 * Base Formstyle Element Styles
 *********************************/

/* Form element label */
form.formstyle label {
margin: 0px;
display: block;
position: relative;
line-height: 2em;
float: left;
width: 100%;
}

form.formstyle label b { float: left; }

/* Form element help text */
form.formstyle label span {
margin: 0; 
color: #999;
display: block;
font-size: 11px;
float: right;
text-align: right;
}

/* Normal Gray Styling */
form.formstyle input[type=text],
form.formstyle input[type=password],
form.formstyle textarea, 
form.formstyle select {
margin: 0 0 1em 0;
padding: 7px 0;
text-indent: 7px;
border: 1px solid #ddd;
border-top: 1px solid #999;
border-bottom: 1px solid #eee;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-size: 120%;
}

form.formstyle input[type=text],
form.formstyle input[type=password],
form.formstyle textarea{
width: 100%;
}

form.formstyle input {margin: 0 0 1em 0;}

/* Fix select box widths */
form.formstyle select,
form.formstyle select:active,
form.formstyle select:focus { 
	outline-style: none; 
	text-indent: 0px; 
	padding: 6px 3px;
	width: auto;
}

/* dark border on focus */
form.formstyle input[type=text]:focus,
form.formstyle input[type=password]:focus,
form.formstyle select:focus,
form.formstyle textarea:focus {
border-color: #333;
}

/* Make sure disabled inputs stay disabled looking! */
form.formstyle input[disabled=disabled] {
	background: #F5F6FA;
	color: inherit;
}



/* Make textarea larger and legible */
form.formstyle textarea {
font: inherit; 
text-indent: 0; 
padding: 1%;
min-height: 7em;
}

textarea.large { 
height: 24em;
}



/**********************************
 * Formstyle error styles
 *********************************/

form.formstyle input.form_error,
form.formstyle select.form_error,
form.formstyle input.form_error:hover, 
form.formstyle select.form_error:hover,
form.formstyle input.form_error:focus, 
form.formstyle select.form_error:focus {
color: #E83D1B;
border-color: #FD9B9B;
background: #FFF0F0;
}

form.formstyle textarea.form_error { /*border-color: #FD9B9B;*/ }

form.formstyle div.form_error {
color: #E83D1B;
font-weight: bold;
}


/**********************************
 * Other Styles
 *********************************/

form.formstyle select.day,
form.formstyle select.month,
form.formstyle select.year,
form.formstyle select.hour,
form.formstyle select.minute,
form.formstyle select.second { width: auto; display: inline;}



/**********************************
 * Browser Hacks
 *********************************/

/* For poor old IE... */
* html form.formstyle .green,
* html form.formstyle .red,
* html form.formstyle .blue {width: auto;}

/* Firefox seems to be the only browser with no padding! */
@-moz-document url-prefix() { 
	form.formstyle textarea { padding: .5em; } 
}


/*
 * For date inputs
 */
.formstyle .datetime input[type=text] {
width: 2em;
clear: none;
float: none;
display: inline;
padding: .5em 0;
text-indent: 0;
text-align: center;
}

.formstyle .datetime input[type=text].year {
width: 3.3em;
clear: none;
float: none;
display: inline;
text-indent: 0;
text-align: center;
}

form.formstyle input[type=submit]
{
padding: .3em 1em;
font-size: 160%;
}
