
/* Messages Boxes use the great Silk icons from http://famfamfam.com/ */
.message, .warning, .error, .success {
    margin: 1em auto;
    display: block;
    clear: both;
    padding: .8em 50px;
	border: 1px solid #fff;
}

.message {
    background: #F8FAFC url(images/message.png) 20px center no-repeat;
    border-color: #B5D4FE;
}

.warning {
    background: #fff6bf url(images/warning.png) 20px center no-repeat;
    border-color: #ffd324;
}

.error {
    background: #fde6e9 url(images/error.png) 20px center no-repeat;
    border-color: #fb939f;
}

.success {
    background: #EBFCE1 url(images/success.png) 20px center no-repeat;
    border-color: #B9DAA6;
}
